.community-post-container {
    padding: 20px;
}

.post-home {
    padding-top: 80px;
    margin-bottom: 20px;
    padding-left: 2px;  
}

.ant-form {
    background-color: #f0f0f0;  
    padding: 20px; 
    padding-top: 40px; 
    border-radius: 8px; 
    width: 98vw;
}

.post-avatar {
    margin-bottom: 15px;
}